/*  */
/* ================================================================================================================= */
/* ================================================  VARIABLES  ==================================================== */
/* ================================================================================================================= */
/* ================================================================================================================= */
/* ==================================================  MAPS  ======================================================= */
/* ================================================================================================================= */
/* ================================================================================================================= */
/* ==================================================  MIXIN  ====================================================== */
/* ================================================================================================================= */
/* ================================================================================================================= */
/* =================================================  EXTEND  ====================================================== */
/* ================================================================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
.shadowradius, .navbar-light .navbar-collapse .navbar-nav .nav-item .tourLink:hover::after, .containerIndex .twitter-timeline, .bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__cardContainer .cardContainer__body .bodyFront, .bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__cardContainer .cardContainer__body .bodyBack, .contentDisc .contentDisc__picker .picker__album, .contentDisc .containerMult .containerMult__cover, .contentDisc .containerMult .containerMult__spotify iframe, .align-items-center .card .show .card-body .list-group .tourInfo .tourInfo__links .tourInfo__links__btn button, .formB .col-lg-3 .btnB, .container404 .content404 button {
  box-shadow: 5px 5px 5px #312F32;
  border-radius: 20px;
}

.titleStyles, .containerIndex .mainTitle, .bamdBody .containerBamd .mainTitle, .mainTitle {
  width: 100%;
  height: min-content;
  text-align: center;
  user-select: none;
}

.titleStyles h1, .containerIndex .mainTitle h1, .bamdBody .containerBamd .mainTitle h1, .mainTitle h1 {
  font-family: logoFont;
  border-top: 0px;
  margin-top: 0px;
  -webkit-text-stroke: 2px #312F32;
  animation-name: animTitles;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animTitles {
  0% {
    color: #312F32;
    text-shadow: 2.5px 2.5px #E97038, 3.25px 3.25px #E8563C, 5px 5px #E52F37, 5.75px 5.75px #2F52AB, 6.5px 6.5px #352F78, 7.25px 7.25px #241A37;
  }
  14% {
    color: #241A37;
    text-shadow: 2.5px 2.5px #312F32, 3.25px 3.25px #E97038, 5px 5px #E8563C, 5.75px 5.75px #E52F37, 6.5px 6.5px #2F52AB, 7.25px 7.25px #352F78;
  }
  28% {
    color: #352F78;
    text-shadow: 2.5px 2.5px #241A37, 3.25px 3.25px #312F32, 5px 5px #E97038, 5.75px 5.75px #E8563C, 6.5px 6.5px #E52F37, 7.25px 7.25px #2F52AB;
  }
  42% {
    color: #2F52AB;
    text-shadow: 2.5px 2.5px #352F78, 3.25px 3.25px #241A37, 5px 5px #312F32, 5.75px 5.75px #E97038, 6.5px 6.5px #E8563C, 7.25px 7.25px #E52F37;
  }
  57% {
    color: #E52F37;
    text-shadow: 2.5px 2.5px #2F52AB, 3.25px 3.25px #352F78, 5px 5px #241A37, 5.75px 5.75px #312F32, 6.5px 6.5px #E97038, 7.25px 7.25px #E8563C;
  }
  71% {
    color: #E8563C;
    text-shadow: 2.5px 2.5px #E52F37, 3.25px 3.25px #2F52AB, 5px 5px #352F78, 5.75px 5.75px #241A37, 6.5px 6.5px #312F32, 7.25px 7.25px #E97038;
  }
  85% {
    color: #E97038;
    text-shadow: 2.5px 2.5px #E8563C, 3.25px 3.25px #E52F37, 5px 5px #2F52AB, 5.75px 5.75px #352F78, 6.5px 6.5px #241A37, 7.25px 7.25px #312F32;
  }
  100% {
    color: #312F32;
    text-shadow: 2.5px 2.5px #E97038, 3.25px 3.25px #E8563C, 5px 5px #E52F37, 5.75px 5.75px #2F52AB, 6.5px 6.5px #352F78, 7.25px 7.25px #241A37;
  }
}

/* ================================================================================================================= */
/* =================================================  FUENTES  ===================================================== */
/* ================================================================================================================= */
@font-face {
  font-family: logoFont;
  src: url(../resources/fonts/helveticaBlack.otf);
}

@font-face {
  font-family: VHSTitles;
  src: url(../resources/fonts/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
  font-family: LightsGoDown;
  src: url(../resources/fonts/bookmaniaBlack.ttf);
}

/* ================================================================================================================= */
/* ==========================================  PROPIEDADES GENERALES  ============================================== */
/* ================================================================================================================= */
::selection {
  background-color: #EE2E2B;
  color: #E8E7D5;
}

html {
  scroll-behavior: smooth;
}

html body {
  background-color: #E8E7D5;
  color: #312F32;
  font-family: "courier-std", monospace;
  font-size: 18px;
}

html h1,
html h2,
html h3 {
  letter-spacing: 5px;
  font-family: VHSTitles;
  font-size: 30px;
  font-weight: 100;
}

html h1,
html h2 {
  border-top: 1.7px solid #312F32;
}

html p {
  line-height: 45px;
  text-align: justify;
  overflow-y: auto;
}

html a {
  color: #312F32;
  text-decoration: none;
}

/* =====================================  ROTATING LOGO  ====================================== */
.idkhow img {
  height: 50px;
  width: auto;
  position: fixed;
  z-index: 10;
  bottom: 1px;
  right: 14px;
}

.idkhow img animation {
  name: spin;
  duration: 6s;
  timing-function: linear;
}

@keyframes spin {
  0% {
    bottom: 1px;
    right: -120px;
  }
  89.9% {
    bottom: 1px;
    right: 14px;
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(2);
  }
  100% {
    bottom: 1px;
    right: 14px;
  }
}

/* ======================================  GENERAL LOADING ANIMATION  =================================== */
.VHSPlay {
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  animation-name: playAnim;
  animation-duration: 0.2s;
}

@keyframes playAnim {
  0% {
    backround-image: url(../resources/anim/playbkg.gif);
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
  99.9% {
    width: 100%;
    height: 100%;
    z-index: 1000000000;
    position: fixed;
    background-image: url(../resources/anim/playbkg.gif);
  }
  100% {
    width: 0px;
    height: 0px;
    z-index: 1;
  }
}

/* =====================================  LIGHTS GO DOWN  ===================================== */
.LGD {
  top: -100vh;
  display: flex;
  position: fixed;
  z-index: 10000;
  color: #FFD630;
  width: 100%;
  height: 100vh;
  background-image: url(../resources/anim/LGD.gif);
  align-items: center;
  justify-content: center;
  transition: all linear 5s;
}

.lightbulb {
  top: 24px;
  position: absolute;
  height: 25px;
  width: 25px;
  background-image: url(../resources/anim/lightbult.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 100000;
  transition: ease all 0.3s;
}

.lightbulb:active {
  background-image: url(../resources/anim/lightbultOn.svg);
}

.lightbulb:active ~ .LGD {
  top: 0vh;
}

.LGD .LGD__hang {
  top: 0;
  height: 150px;
  width: 100%;
  background-image: url(../resources/anim/hang.png);
  background-size: contain;
  position: absolute;
}

.LGD h3 {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fffb00, 0 0 82px #fffb00, 0 0 92px #fffb00, 0 0 102px #fffb00, 0 0 151px #fffb00;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #fffb00, 0 0 80px #fffb00, 0 0 90px #fffb00, 0 0 100px #fffb00, 0 0 150px #fffb00;
  }
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #fffb00, 0 0 45px #fffb00, 0 0 55px #fffb00, 0 0 70px #fffb00, 0 0 80px #fffb00;
  }
}

/* ================================================================================================================= */
/* ===========================================  PROPIEDADES DEL HEADER  ============================================ */
/* ================================================================================================================= */
.navbar-light .navbar-brand img {
  height: auto;
  width: 170px;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2835, 31, 31, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-collapse .navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-light .navbar-collapse .navbar-nav .underlineAnim {
  position: relative;
}

.navbar-light .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #312F32;
  transition: 250ms ease;
  font-family: logoFont;
  font-size: 17px;
}

.navbar-light .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #EE2E2B;
}

.navbar-light .navbar-collapse .navbar-nav .nav-item .nav-link i {
  font-size: 14px;
}

.navbar-light .navbar-collapse .navbar-nav .nav-item .tourLink {
  position: relative;
  cursor: default;
  transition: ease .20s all;
}

.navbar-light .navbar-collapse .navbar-nav .nav-item .tourLink:hover {
  color: #312F32;
  transition: ease .20s all;
}

.navbar-light .navbar-collapse .navbar-nav .nav-item .tourLink:hover::after {
  transition: ease .20s all;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  content: 'Sin fechas disponibles :c';
  height: min-content;
  width: max-content;
  padding: 10px;
  text-align: center;
  background-color: #E8E7D5;
  border: #312F32 2px solid;
  border-radius: 10px;
}

.navbar-light .navbar-collapse .navbar-nav .nav-item .tourLink:hover::before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: #312F32 8px solid;
}

/* ================================================  MEDIA QUERIES  =============================================== */
@media only screen and (max-width: 3000px) and (min-width: 994px) {
  .underlineAnim::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 6px;
    left: 0;
    background-color: #EE2E2B;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .underlineAnim:hover::before {
    transform: scaleX(1);
  }
}

@media only screen and (min-width: 991px) {
  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 991px) {
  .nav-link {
    letter-spacing: 8px;
  }
  .nav-link::after {
    content: '==';
  }
  .nav-link::before {
    content: '==';
  }
  .tourLink:hover {
    margin-bottom: 100px;
  }
  .tourLink:hover::after {
    letter-spacing: 1px;
    width: min-content !important;
  }
}

/* ================================================================================================================= */
/* ===================================================  INDEX  ===================================================== */
/* ================================================================================================================= */
.VHSLoading {
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  animation-name: loadAnim;
  animation-duration: 1.76s;
}

@keyframes loadAnim {
  0% {
    background-image: url(../resources/anim/loading.gif);
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
  99.9% {
    width: 100%;
    height: 100%;
    z-index: 1000000000;
    position: fixed;
    background-image: url(../resources/anim/loading.gif);
  }
  100% {
    width: 0px;
    height: 0px;
    z-index: 1;
  }
}

/* ========================================  CONTENIDO INDEX  ======================================= */
.containerIndex {
  /* =========================================  HISTORIA  ======================================= */
  /* ==========================================  GENERO  ======================================== */
  /* ========================================  INFLUENCIAS  ===================================== */
  /* =========================================  NOTICIAS  ======================================= */
  /* ========================================  IMAGEN FINAL  ==================================== */
  /* ===========================================  TEXTO  ======================================== */
  /* ===================================  PROPIEDADES DE TWITTER  =============================== */
}

.containerIndex .imgParallaxBst {
  height: 500px;
  background-image: url("https://i.imgur.com/Bb3tWiH.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.containerIndex .textIndexBst span {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.containerIndex .imgIndex2 {
  background-image: url("https://i.imgur.com/OYppIar.jpg");
}

.containerIndex .imgIndex3 {
  background-image: url("https://i.imgur.com/sIFwDC5.png");
}

.containerIndex .imgIndex4 {
  background-image: url("https://i.imgur.com/WGd6eBW.png");
}

.containerIndex .imgIndex5 {
  background-image: url("https://i.imgur.com/OXo4JzL.png");
}

.containerIndex .textIndexBst {
  height: min-content;
}

/* ================================================  MEDIA QUERIES  =============================================== */
@media only screen and (max-width: 600px) {
  .imgIndex1 {
    background-image: url("https://i.imgur.com/qsFD3tR.jpg");
  }
  .imgIndex2 {
    background-image: url("https://i.imgur.com/S9NBccG.jpg");
  }
  .textIndexBst p {
    padding: 0 10% 0 10%;
  }
}

/* ================================================================================================================= */
/* ==================================================  BAMD  ======================================================= */
/* ================================================================================================================= */
.whiteShadow {
  width: 100%;
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  animation-name: animWS;
  animation-duration: 4s;
}

@keyframes animWS {
  0% {
    background-image: url(../resources/anim/init.gif);
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
  99.9% {
    width: 100%;
    height: 100%;
    z-index: 1000000000;
    position: fixed;
    background-image: url(../resources/anim/init.gif);
  }
  100% {
    width: 0px;
    height: 0px;
    z-index: 1;
  }
}

.bamdBody {
  width: 100%;
}

.bamdBody .containerBamd {
  width: 100%;
}

.bamdBody .containerBamd .bamdHeader {
  height: min-content;
  display: grid;
  grid-template-rows: 500px min-content;
  background-image: url("https://i.imgur.com/4algIVO.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  height: 500px;
  grid-column: 1/2;
}

.bamdBody .containerBamd .contentBamd {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 10% 80% 10%;
  padding-bottom: 10px;
  gap: 20px;
  grid-column: 1/2;
  justify-content: center;
}

.bamdBody .containerBamd .contentBamd span {
  font-family: VHSTitles;
}

.bamdBody .containerBamd .contentBamd .contentBamd__sec {
  grid-column: 2/3;
  display: flex;
  padding: 10px 10px 25px 10px;
  gap: 10px;
  /* ===================================  CONTENEDOR DE LA CARTA  =============================== */
}

.bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__info {
  width: 80%;
  padding: 0 15px 0 15px;
}

.bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__info p {
  text-align: justify;
}

.bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__info p span {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__cardContainer {
  width: 250px;
  height: 320px;
  /* =====================================  CUERPO DE LA CARTA  ================================= */
}

.bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__cardContainer:hover .cardContainer__body {
  transform: rotateY(180deg);
}

.bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__cardContainer .cardContainer__body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.9s ease;
  /* ===========================================  FRENTE  ======================================= */
  /* ============================================  ATRAS  ======================================= */
}

.bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__cardContainer .cardContainer__body .bodyFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: url("https://i.imgur.com/Z2BfqcR.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bamdBody .containerBamd .contentBamd .contentBamd__sec .contentBamd__cardContainer .cardContainer__body .bodyBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: #312F32 2px solid;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* =============================================  DALLON  ===================================== */
#cardDallon .bodyBack {
  background-image: url("https://i.imgur.com/viKEJX8.jpg");
}

/* ==============================================  RYAN  ====================================== */
#cardRyan {
  flex-direction: row-reverse;
  text-align: end;
}

#cardRyan .bodyBack {
  background-image: url("https://i.imgur.com/Xjqofzs.jpg");
}

#cardRyan p {
  text-align: end;
}

/* =============================================  UNKNOWN  ==================================== */
#cardUnknown {
  background-image: url("https://i.imgur.com/H9NtneF.jpg");
}

#cardUnknown .bodyFront {
  background-image: url(../resources/bamd/unknownFront.gif);
}

#cardUnknown .bodyBack {
  background-image: url(../resources/bamd/unknown.gif);
}

#cardUnknown .contentBamd__info {
  color: #E8E7D5;
  background-color: #312F32;
  padding: 10px;
}

/* ================================================  MEDIA QUERIES  =============================================== */
@media only screen and (max-width: 700px) {
  .contentBamd__sec {
    flex-direction: column;
    align-items: center;
  }
  #cardRyan {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: start;
  }
  #cardRyan p {
    text-align: justify;
  }
}

@media only screen and (max-width: 400px) {
  .bamdHeader {
    background-image: url("https://i.imgur.com/8kIhwAT.png");
  }
  .containerBamd {
    width: 400px;
  }
  .containerBamd .contentBamd #cardDallon .contentBamd__info,
  .containerBamd .contentBamd #cardRyan .contentBamd__info,
  .containerBamd .contentBamd #cardUnknown .contentBamd__info {
    padding: 0%;
    width: 100%;
  }
}

/* ================================================================================================================= */
/* ==============================================  DISCOGRAFIA  ==================================================== */
/* ================================================================================================================= */
.contentDisc {
  display: grid;
  grid-template-rows: 500px repeat(6, min-content);
  grid-template-columns: 10% 80% 10%;
  gap: 40px;
  grid-column: 1/2;
  justify-content: center;
  /* =========================================  SELECTOR  ======================================= */
  /* ======================================  CONTENIDO  ========================================= */
}

.contentDisc .contentDisc__picker {
  grid-column: 2/3;
  display: flex;
  gap: 6px;
  /* =====================================  RAZZMATAZZ  ========================================= */
  /* =======================================  1981 EP  ========================================== */
  /* ====================================  CHRISTMAS DRAG  ====================================== */
  /* =======================================  SINGLES  ========================================== */
}

.contentDisc .contentDisc__picker .picker__album {
  height: 100%;
  width: 25%;
  border: #312F32 2px solid;
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.contentDisc .contentDisc__picker .picker__album .overlayAlbum {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: 0.3s ease;
  background-color: #000;
}

.contentDisc .contentDisc__picker .picker__album .overlayAlbum:hover {
  opacity: 0;
}

.contentDisc .contentDisc__picker .coverAlbum1 {
  background-image: url("https://i.imgur.com/94aBx4O.jpg");
}

.contentDisc .contentDisc__picker .coverAlbum2 {
  background-image: url("https://i.imgur.com/NoZuSBZ.jpg");
}

.contentDisc .contentDisc__picker .coverAlbum3 {
  background-image: url("https://i.imgur.com/BJSYELE.jpg");
}

.contentDisc .contentDisc__picker .coverAlbum4 {
  background-image: url("https://i.imgur.com/no5te63.jpg");
}

.contentDisc .containerMult {
  display: flex;
  gap: 6px;
  height: min-content;
  grid-column: 2/3;
  /* ========================================  SPOTIFY  ========================================= */
}

.contentDisc .containerMult .containerMult__cover {
  flex-basis: 450px;
  border-radius: 0px;
}

.contentDisc .containerMult .containerMult__text {
  width: 50%;
  padding: 0 10px 0 10px;
}

.contentDisc .containerMult .containerMult__spotify {
  width: 50%;
  border-radius: 20px;
}

/* ======================================  RAZZMATAZZ  ======================================== */
.containerMult__cover--album1 {
  background-image: url("https://i.imgur.com/FAeXUND.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerMult__cover--album1 .secalbum1 {
  grid-row: 2/3;
}

/* ========================================  1981 EP  ========================================= */
.containerMult__cover--album2 {
  background-image: url("https://i.imgur.com/twh61Nh.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.secalbum2 {
  grid-row: 3/4;
}

/* ====================================  CHRISTMAS DRAG  ====================================== */
.containerMult__cover--album3 {
  background-image: url("https://i.imgur.com/Rc7X0Em.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.secalbum3 {
  grid-row: 4/5;
}

/* =====================================  MX. SINISTER  ======================================= */
.containerMult__cover--album4 {
  background-image: url("https://i.imgur.com/13KDCqU.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.secalbum4 {
  grid-row: 5/6;
}

/* =========================================  DEBRA  ========================================== */
.containerMult__cover--album5 {
  background-image: url("https://i.imgur.com/a2nxctY.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.secalbum5 {
  grid-row: 6/7;
}

/* ====================================  MODERN DAY CAIN  ===================================== */
.containerMult__cover--album6 {
  background-image: url("https://i.imgur.com/0U2zHG3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.secalbum6 {
  grid-row: 7/8;
}

/* ================================================  MEDIA QUERIES  =============================================== */
@media only screen and (max-width: 1150px) {
  .contentDisc .contentDisc__picker {
    flex-wrap: wrap;
  }
  .contentDisc .contentDisc__picker .picker__album {
    height: 50%;
    width: 49%;
  }
}

@media only screen and (max-width: 1020px) {
  .contentDisc .containerMult {
    flex-wrap: wrap;
  }
  .contentDisc .containerMult .containerMult__cover {
    flex-basis: 348px;
    height: 348px;
  }
  .contentDisc .containerMult .containerMult__spotify {
    width: 100%;
  }
}

@media only screen and (max-width: 890px) {
  .contentDisc .containerMult {
    justify-content: center;
  }
  .contentDisc .containerMult .containerMult__text {
    width: 100%;
    padding: 5px 0 0 0;
  }
}

@media only screen and (max-width: 380px) {
  .contentDisc .contentDisc__picker {
    flex-wrap: wrap;
  }
  .contentDisc .contentDisc__picker .picker__album {
    width: 100%;
  }
  .contentDisc .secalbum1 {
    margin-top: 500px;
  }
}

/* ================================================================================================================= */
/* ===============================================  GALERIA  ======================================================= */
/* ================================================================================================================= */
/* ================================================================================================================= */
/* ================================================  TOUR  ========================================================= */
/* ================================================================================================================= */
.tourHeaderBs {
  height: 500px;
  background-image: url("https://i.imgur.com/IOLgYTe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.noTour {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
}

/* =========================================  LISTA  ========================================== */
.align-items-center .card {
  background-color: #E8E7D5;
  border: none;
}

.align-items-center .card .card-header {
  background-color: #E8E7D5;
}

.align-items-center .card .card-header .mb-0 .btn-link {
  color: #312F32;
}

.align-items-center .card .card-header .mb-0 .btn-link:hover {
  text-decoration: none;
}

.align-items-center .card .card-header .mb-0 .btn-link h3 {
  color: #312F32;
  letter-spacing: 10px;
}

.align-items-center .card .card-header .mb-0 .list-group-item-action {
  color: #312F32;
}

.align-items-center .card .show .card-body .list-group .pastDate {
  pointer-events: none;
  opacity: .62;
}

.align-items-center .card .show .card-body .list-group .tourInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: min-content;
  transition: ease .20s all;
  border-bottom: 2px solid #eeede8;
}

.align-items-center .card .show .card-body .list-group .tourInfo:hover {
  border-left: 14px solid #EE2E2B;
  background-color: rgba(35, 31, 32, 0.04);
}

.align-items-center .card .show .card-body .list-group .tourInfo .tourInfo__links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  /* =========================================  BOTON  ========================================== */
}

.align-items-center .card .show .card-body .list-group .tourInfo .tourInfo__links .tourInfo__links__text {
  font-size: 20px;
  letter-spacing: 12px;
}

.align-items-center .card .show .card-body .list-group .tourInfo .tourInfo__links .tourInfo__links__text h3 {
  font-size: 43px;
  letter-spacing: 4px;
  padding-top: 10px;
}

.align-items-center .card .show .card-body .list-group .tourInfo .tourInfo__links .tourInfo__links__btn button {
  height: 60px;
  width: 180px;
  color: #312F32;
  border: 2px solid #312F32;
  border-radius: 0%;
  cursor: pointer;
  transition: ease .20s all;
  background-color: transparent;
  font-family: VHSTitles;
  font-size: 25px;
}

.align-items-center .card .show .card-body .list-group .tourInfo .tourInfo__links .tourInfo__links__btn button:hover {
  font-size: 26px;
  background-color: #312F32;
  color: #E8E7D5;
}

/* ================================================  MEDIA QUERIES  =============================================== */
@media only screen and (max-width: 991px) {
  .tourInfo {
    border: transparent;
  }
  .tourInfo .tourInfo__links .tourInfo__links__btn button {
    width: 250px;
  }
}

@media only screen and (max-width: 800px) {
  .tourInfo {
    border: transparent;
  }
  .tourInfo .tourInfo__links {
    flex-direction: column;
    gap: 20px;
  }
  .tourInfo .tourInfo__links .tourInfo__links__text {
    text-align: center;
  }
  .tourInfo .tourInfo__links .tourInfo__links__btn button {
    width: 250px;
  }
}

@media only screen and (max-width: 382px) {
  .tourInfo__links__text h3 {
    font-size: 33px;
  }
}

a:hover {
  color: #312F32;
  text-decoration: none;
}

/* ================================================================================================================= */
/* =================================================  CONTACTO  ==================================================== */
/* ================================================================================================================= */
.formB {
  background-image: url("https://i.imgur.com/ueJkCrT.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: min-content;
}

.formB .col-lg-3 {
  background-color: #E8E7D5;
  height: min-content;
  /* ====================================  BOTON ENVIAR  ======================================== */
  /* ========================================  REDES  =========================================== */
}

.formB .col-lg-3 form .form-group label {
  background-color: #E8E7D5;
  width: 100%;
}

.formB .col-lg-3 form .form-group label h2 {
  font-size: 23px;
}

.formB .col-lg-3 form .form-group .form-control {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #eeede8;
  text-align: justify;
  letter-spacing: 3px;
  font-size: 18px;
  font-family: "courier-std", monospace;
}

.formB .col-lg-3 .btnB {
  width: 100%;
  height: 40px;
  border: 2px solid #312F32;
  border-radius: 10px;
  cursor: pointer;
  transition: ease .20s all;
  background-color: transparent;
  line-height: 0;
  font-family: VHSTitles;
  font-size: 20px;
}

.formB .col-lg-3 .btnB:hover {
  font-size: 21px;
  background-color: #312F32;
  color: #E8E7D5;
}

.formB .col-lg-3 .redesB {
  height: min-content;
}

.formB .col-lg-3 .redesB img {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

/* ====================================  AUTOCOMPLETAR  ======================================= */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: transparent;
  -webkit-text-fill-color: #312F32;
  -webkit-box-shadow: 0 0 0px 1000px #E8E7D5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* ================================================================================================================= */
/* ===============================================  FOOTER  ======================================================== */
/* ================================================================================================================= */
footer h3 {
  font-size: 14px;
}

footer .d-flex a {
  transition: ease all 0.3s;
}

footer .d-flex a:hover {
  color: #EE2E2B;
}

footer .site-map {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  height: min-content;
  width: 50%;
  margin: auto;
}

footer .site-map .tourFooter {
  cursor: default;
}

/* ================================================================================================================= */
/* =================================================  404  ========================================================= */
/* ================================================================================================================= */
.container404 {
  background-image: url("https://i.imgur.com/l5H9ngU.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E8E7D5;
}

.container404 .content404 {
  padding: 15%;
}

.container404 .content404 h1 {
  border: none;
  font-size: 80px;
  font-weight: 900;
  margin: 0;
  animation-name: glitch404;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes glitch404 {
  0% {
    text-align: start;
    font-family: VHSTitles;
    color: #E8E7D5;
  }
  10% {
    text-align: end;
    font-family: VHSTitles;
  }
  11% {
    text-align: end;
    font-family: VHSTitles;
    color: #E8E7D5;
  }
  12% {
    text-align: center;
    font-family: logoFont;
    color: #EE2E2B;
  }
  14% {
    text-align: end;
    font-family: inherit;
    font-family: VHSTitles;
    color: #E8E7D5;
  }
  16% {
    text-align: start;
    font-family: logoFont;
    font-style: italic;
  }
  17% {
    text-align: start;
    font-family: VHSTitles;
    font-style: normal;
  }
  19% {
    text-align: start;
    font-style: italic;
  }
  20% {
    text-align: start;
    font-style: normal;
  }
  24% {
    text-align: start;
    font-weight: 100;
  }
  28% {
    text-align: start;
    font-weight: 900;
  }
  28% {
    text-align: start;
    font-style: oblique;
  }
  29% {
    text-align: start;
    font-style: normal;
  }
  30% {
    text-align: start;
    font-style: oblique;
    text-decoration: line-through;
  }
  31% {
    text-align: start;
    font-style: normal;
  }
  32% {
    text-align: start;
    font-style: oblique;
  }
  100% {
    text-align: start;
  }
}

.container404 .content404 p {
  font-family: VHSTitles;
}

.container404 .content404 button {
  height: min-content;
  border: 2px solid #312F32;
  border-radius: 10px;
  cursor: pointer;
  transition: ease .20s all;
  background-color: #E8E7D5;
  padding: 15px;
  margin-top: 30px;
  font-family: VHSTitles;
  font-size: 20px;
}

.container404 .content404 button:hover {
  font-size: 21px;
  background-color: #312F32;
}

.container404 .content404 button:hover a {
  color: #E8E7D5;
}
/*# sourceMappingURL=style.css.map */